<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <meta charset="utf-8">
    {% block title %} {% endblock %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'app.css' %}"
    >
  </head>
  <body>

    <div class='container'>
      <div class='row header'>
        <span>
          <a class='app-name' href='{% url 'root' %}'>Directory</a>
        </span>
        {% if user.is_authenticated %}
          <div class='logout-section'>
            <a href="{% url 'add-teacher' %}" class="add-teacher-link">Add Teacher</a>
            <a href="{% url 'logout' %}" class="login">Logout</a>
          </div>
        {% else %}
          <a href="{% url 'login' %}" class="login">Login</a>
        {% endif %}
      </div>
      <div class='row sub-header'>
        {% block pagename %}{% endblock %}
      </div>
      {% block body %}{% endblock %}
    </div>


  </body>
</html>
